HintWidget {
    transition: all 0.25s ease;
    opacity: 1;

    text {
        font-family: Roboto;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 0px 0px 2px rgba( black, 0.5 );
    }

    .canvas {
        height: 100%;
        width: 100%;
        font-size: 24px;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-end;

        text {
            width: 100%;
        }
    }
}

HintWidgetEntry {
    width: 100%;
    height: 24px;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease;

    .message {
        font-size: 16px;
        font-family: Roboto;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 0px 0px 2px rgba( black, 0.5 );
    }

    &:intro {
        height: 0px;
        opacity: 0;
    }

    &:outro {
        height: 0px;
        opacity: 0;
    }
}