@using Sandbox;
@using System;
@using Sandbox.UI;

@namespace TableTennis.UI
@inherits WorldPanel;
@attribute [StyleSheet("/UI/HintWidget.scss")]

<root>
	<div class="canvas" @ref=Canvas>
		<!-- -->
	</div>
</root>

@code 
{
	public static HintWidget Current;
	// @ref
	public Panel Canvas { get; set; }

	Vector2 Size => new( 1200, 500f );
	public HintWidget()
	{
		Current = this;
		PanelBounds = new( -Size.x / 2f, -Size.y / 2f, Size.x, Size.y );
	}

	public void AddEntry( string text, string icon = null, float lifetime = 5f, string className = null )
	{
		Canvas.AddChild( new HintWidgetEntry( text, icon, lifetime, className ) );
	}

	public override void Tick()
	{
		base.Tick();

		var game = TableTennisGame.Current;
		if ( !game.IsValid() )
			return;

		var myTeam = Game.LocalClient?.GetTeam();
		if ( myTeam == null )
			return;

		Position = myTeam.UIAnchor.Position + Vector3.Up * 17f;
		Rotation = myTeam.UIAnchor.Rotation;
	}
}