TablePanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: flex-start;
	align-items: flex-end;
	font-weight: bold;
	border-radius: 20px;
	padding: 16px;

	.state
	{
		font-size: 24px;
		font-family: Poppins;
		color: #fff;
	}

	.grow
	{
		flex-grow: 1;
	}

	.column
	{
		width: 45%;
		flex-direction: column;
	}

	.score
	{
		gap: 16px;
		justify-content: space-between;

		.sub
		{
			font-size: 24px;
		}

		.value
		{
			font-size: 32px;
		}

		.sub, .value
		{
			font-family: Poppins;
			color: #fff;
		}
	}
}
