ScoreWidget
{
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s ease;

    &.visible
    {
        opacity: 1;
    }

    text
    {
        color: white;
        text-shadow: 0px 0px 2px rgba( black, 0.5 );
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .score
    {
        font-size: 120px;
        font-weight: bold;
    }

    .main
    {
        height: 100%;
        font-size: 40px;

        .pane
        {
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            flex-direction: column-reverse;
        }
    }
}
